@import "tailwindcss";

:root {
  --background: #eee;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

@layer base {
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32;
  }

  .section-gap {
    @apply my-8 md:my-16;
  }

  .card {
    @apply p-5 bg-neutral-200 border border-neutral-400 rounded-xl shadow-sm hover:shadow-md hover:border-neutral-500 transition-transform duration-300;
  }

  .button {
    @apply px-4 py-2 rounded-md cursor-pointer font-medium hover:scale-105 active:scale-90 transition-all duration-300;
  }

  .input {
    @apply px-4 py-2 focus:outline-none ring-2 ring-blue-300 focus:ring-blue-400 w-full rounded-md transition-colors duration-200;
  }

  ::placeholder {
    @apply text-sm;
  }
}
